<div class="container mt-5">
  <div>
    <!-- Titre de l'article centré en mobile, aligné à gauche en desktop -->
    <h2  class="text-center text-md-left mb-3 mb-md-0 d-block d-md-inline"> <span onclick="history.go(-1); return false;"  style="cursor: pointer;"> ← </span>{{article?.title}}</h2>
    <!-- Métadonnées de l'article alignées à gauche -->
    <div class="article-meta text-left">
      <p>
        <span class="date mx-1 mx-md-3">{{article?.createdAt}}</span>
        <span class="author mx-1 mx-md-3">{{article?.author?.username}}</span>
        <span class="theme mx-1 mx-md-3">{{article?.theme?.name}}</span>
      </p>
    </div>

    <!-- Contenu de l'article centré en mobile, aligné à gauche en desktop -->
    <p class="text-center text-md-left">{{article?.content}}</p>
    <hr>

    <!-- Section des commentaires -->
    <div class="comments-section mt-4">
      <h3>Commentaires</h3>

      <!-- Liste des commentaires -->
      <div class="comment mb-4 p-3" *ngFor="let comment of commentReceived">
        <div class="comment mb-4 p-3 d-flex align-items-start">
          <h5 class="mb-0 me-3">{{ comment.author.username }}</h5>
          <div class="comment-info bg-light p-3 rounded flex-grow-1">
            <p class="comment-text mb-0">{{ comment.content }}</p>
            <span class="text-muted d-block text-end">{{ comment.createdAt }}</span>
          </div>
        </div>
      </div>

      <!-- Formulaire réactif d'ajout de commentaire -->
      <div class="add-comment-form">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="d-flex align-items-center">
          <div class="form-group flex-grow-1 mb-0">
            <textarea formControlName="text" class="form-control" rows="3" placeholder="Ajouter un commentaire" required></textarea>
          </div>
          <span class="ml-2 d-flex align-items-center">
            <i class="fa-regular fa-paper-plane fa-2x"></i>
          </span>
        </form>
      </div>      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
