<div class="container mt-5">
  <!-- Affichage de l'article -->
  <div>
    <!-- Titre de l'article centré en mobile, aligné à gauche en desktop -->
    <h2 class="text-center text-md-left mb-3 mb-md-0 d-block d-md-inline">{{article?.title}}</h2>
    <i class="fa-thin fa-arrow-left"></i>
    <!-- Métadonnées de l'article alignées à gauche -->
    <div class="article-meta text-left">
      <p>
        <span class="author text-center text-md-left">{{article?.author?.name}}</span> - 
        <span class="date">{{article?.createdAt}}</span> - 
        <span class="theme">{{article?.theme?.name}}</span>
      </p>
    </div>
   
    <!-- Contenu de l'article centré en mobile, aligné à gauche en desktop -->
    <p class="text-center text-md-left">{{article?.content}}</p>
    <hr>
    
    <!-- Section des commentaires -->
    <div class="comments-section mt-4">
      <h3>Commentaires</h3>
      
      <!-- Liste des commentaires -->
      <div class="comment mb-4 p-3" *ngFor="let comment of commentReceived">
        <div class="comment-info bg-light p-3 rounded">
          <div class="d-flex justify-content-between">
            <h5>{{ comment.author.name }}</h5>
  
            <span class="text-muted">{{ comment.createdAt }}</span>
          </div>
          <p class="comment-text">{{ comment.content }}</p>
        </div>
      </div>
      
      <!-- Formulaire réactif d'ajout de commentaire -->
      <div class="add-comment-form">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="d-flex">
          <div class="form-group flex-grow-1">
            <textarea formControlName="text" class="form-control" rows="3" placeholder="Ajouter un commentaire" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary ml-2">
            <i class="fas fa-arrow-alt-circle-right"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
