<div class="container mt-5">
    <div class="row mb-3">
      <div class="col-md-6 d-flex justify-content-start justify-content-md-start mb-2 mb-md-0 d-flex justify-content-center">
        <button routerLink="create" class="btn btn-primary" >Créer un article</button>
      </div>
      <div class="col-md-6 d-flex justify-content-end justify-content-md-end d-flex justify-content-center">
        <p (click)="sortArticlesByDate()" class="clickable">
          Trier par ↓ 
        </p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div *ngFor="let article of articles" class="col-md-6 col-12 mb-4">
          <a [routerLink]="['/article', article.id]" class="text-decoration-none">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-subtitle mb-2 text-muted">{{ article.createdAt }} - {{ article.author.username }}</p>
                <p class="card-text text-center">{{ article.content }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    
    
